.hoardistText {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 8em;
	margin-bottom: 1em;
	padding: 0;
}


.headingText {
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	margin: .5em;
	text-align: center;
}


.mainText {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}


.addCard {
	text-align: center;
	border: .25em solid yellow;
	padding: 2em;
	max-width: 50%;
	margin: 0 auto;

}


.hoardThingCard {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	text-align: center;
	padding: .5em;
}