<h1>Item Details</h1>

<ul class="list-group">
    <li class="list-group-item"><strong>Assigned To: </strong> {{selectedItem.assignedTo}}</li>
    <li class="list-group-item"><strong>Due Date:</strong> {{selectedItem.dueDate}}</li>
    <li class="list-group-item"><strong>Dependencies:</strong> {{selectedItem.dependencies}}</li>
    <li class="list-group-item"><strong>Location:</strong> {{selectedItem.location}}</li>
    <li class="list-group-item"><strong>Urgency:</strong> {{selectedItem.urgency}}</li>
    <li class="list-group-item"><strong>Completed:</strong> {{(selectedItem.isCompleted ? "yes" : "no")}}</li>
</ul>
<button class="btn btn-info"><a ng-href="#!/items/{{selectedItem.id}}/edit">Edit</a></button>