<div class="row">
  <div class="col-md-12 text-center">
    <h4>Login with Google</h4>
    <button class="btn btn-info" ng-click="loginGoogle()">Sign In</button>
  </div>
<br>
<br>
  <div class="col-md-12 text-center">
    <section class="auth-form">
    <h4>Login/Register with Email</h4>
    <div>
      Email: <input type="text" autofocus="true"  ng-model="account.email">
    </div>
    <div>
      Password: <input type="password" ng-model="account.password">
    </div>
    <div>
      <button class="btn btn-info" ng-click="login()">Login</button>

      <button class="btn btn-default" ng-click="register()">Register</button>
    </div>
    </section>
  </div> 
</div>
<br>
<br>