  <!-- This page is controlled by NavCtrl -->
  <nav class="navbar navbar-default" ng-controller="NavCtrl" ng-show="isLoggedIn">
    <div class="container-fluid">
      <div class="navbar-header">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText.search">
        <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true">GO</i></button>
        <ul class="nav navbar-nav navbar-right">
        <!-- ng show if user is logged in/out display this nav bar -->
          <li ng-show="!isLoggedIn"><a ng-href="#!/login"></a>Login</li>
          <li ng-show="isLoggedIn"><a ng-href="#!/items/new">New Things</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/items/list">My Things</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/logout"></a>Logout</li>
        </ul>
      </div>
      </div>
      </nav>
      