 <div class="addCard">
 <h3 class="headingText">{{title}}</h3>
          <div class="mainText">
            <div>
            <label>thing title:</label>
              <input type="text" class="" placeholder="thing i like..." ng-model="newThing.title" />
            </div>
            <div>
            <label>thing URL:</label>
              <input type="text" class="form-control" placeholder="http://..." ng-model="newThing.URL" />
            </div>
           
            </div>
            <!-- TODO: bind this button to a function -->
            <button class="btn btn-default" ng-click="addNewThing()">{{btnText}}</button>
          </div>
</div>