
<h3 class="headingText">all of the things</h3>
<div class="row">
  <div class="col-md-3" ng-repeat="thing in things | filter: searchText.search">
    <div class="thumbnail hoardThingCard">{{thing.title}}
      <img ng-src="{{thing.URL}}" alt="...">
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">hoard it!</a></p>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(thing.id)">X</button></div> -->