
<h3 class="headingText">all of the things</h3>
<div class="row">
  <div class="col-md-4" ng-repeat="thing in things | filter: searchText.search">
    <div class="thumbnail hoardThingCard">{{thing.title}}
      <img ng-src="{{thing.URL}}" alt="...">
      <div class="caption">
        <a href="#" class="btn btn-primary" role="button">hoard me</a>
        <a ng-href="#!/hoardist/{{thing.id}}/edit" class="btn btn-primary" role="button" ng-click="submitThingEdit()">edit me</a>
        <a href="#" class="btn btn-primary" role="button">delete me</a>

      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-info"><a ng-href="#!/items/{{selectedItem.id}}/edit">Edit</a></button>
 -->

<!-- <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(thing.id)">X</button></div> -->