<h1>Todo List</h1>
<!-- TODO: Repeat over our todo list things and setup filtering by search term -->
  <div ng-repeat="thing in things | filter: searchText.search">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-1"></div>
        <div class="col-xs-7"><a ng-href="#!/thing/{{thing.id}}">{{thing.caption}}</a></div>
        <div class="col-xs-2">{{thing.photo}}</div>


        <div class="col-xs-1"><button class="btn btn-danger" ng-click="thingSave(thing.id)">SAVE ME</button></div>
      </div>
    </div>
  </div>
