<h1>all of the things</h1>
<!-- TODO: Repeat over our todo list items and setup filtering by search term -->
  <div ng-repeat="thing in things | filter: searchText.search">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- <div class="col-xs-1"><input type="checkbox" name=""/></div> -->
        <div class="col-xs-7">{{thing.title}}
        <img ng-src="{{thing.URL}}"></img>
        </div>
        <div class="col-xs-1"></div>
        <!-- <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(thing.id)">X</button></div> -->
      </div>
    </div>
  </div>

